# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.py text eol=lf
*.md text eol=lf

# Windows scripts must preserve CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.png binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.exe binary
*.dll binary
